html,
body {
    height: 100%;
}
body {
    background: #5a67b8;
    font-family: "Myriad pro", sans-serif;
    color: #FFFFFF;
}
input, button {
    border: 0;
}

::-webkit-input-placeholder {color:#FFFFFF;}
::-moz-placeholder          {color:#FFFFFF; opacity: 1;}/* Firefox 19+ */
:-moz-placeholder           {color:#FFFFFF; opacity: 1;}/* Firefox 18- */
:-ms-input-placeholder      {color:#FFFFFF;}

/* Intro */
.intro {
    margin-top: 130px;
}
.intro__text {
    text-align: center;
    font-size: 75px;
}
.intro__logo {
    background: url("images/logo.png") no-repeat;
    width: 349px;
    height: 348px;
    margin: 0 auto;
}

/* Game begin */
.game-begin {
    margin-top: 105px;
    margin-bottom: 60px;
}
.game-begin h1 {
    text-align: center;
    font-size: 60px;
}
.game-begin__dashboard  {
    background: url("images/game_dashboard.png") no-repeat;
    width: 258px;
    height: 262px;
    margin: 50px auto 0;
}
.game-begin__form {
    width: 785px;
    margin: 60px auto 0;
}
.game-begin__form input {
    background: #6674ca;
    border: 0;
    color: #FFFFFF;
    font-size: 36px;
    width: 590px;
    height: 100px;
    padding: 0 55px;
    float: left;
}
.game-begin__form button {
    background: #7887e5;
    border: 0;
    height: 100px;
    font-size: 40px;
    padding: 0 60px;
}

/* Game session */
.game-session {
    margin: auto auto;
    width: 940px;
}
.game-session__player {
    width: 350px;
}
.game-session__player input {
    width: 260px;
    margin: 0 auto;
    background: transparent;
    display: block;
    text-align: center;
}
.game-session__player input,
.game-session__divider {
    font-size: 400px;
    font-weight: 100;
}
.game-session__divider {
    width: 230px;
    line-height: 480px;
    text-align: center;
    vertical-align: middle;
    font-family:  Georgia, "Times New Roman", Times, serif;
}
.game-session__player,
.game-session__divider {
    float: left;
}
.player {
    margin-top: -90px;
    text-align: center;
    display: block;
    background: #6674ca;
    padding: 30px 60px;
}
.player__img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 20px;
}
.player__name {
    line-height: 62px;
    vertical-align: middle;
    font-size: 55px;
    font-weight: 100;
}

/* Game results */
.results-table {
    float: left;
    padding-top: 30px;
}
.results-table__player {
    width: 580px;
    padding: 15px 65px 15px 25px;
    border-bottom: 1px solid #606dc1;
}
.results-table__player:last-child {
    border-bottom: 0;
}
.results-table__player:nth-child(2n) {
    background: #606dc1;
}
.results-table .results-table__player_current {
    background: #df4646;
}
.results-table__player-img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 30px;
}
.results-table__player-name,
.results-table__player-score {
    vertical-align: middle;
    line-height: 62px;
    font-size: 30px;
}
.results-table__player-score {
    float: right;
}
.game-results__splash {
    float: right;
    color: #7887e5;
    font-size: 150px;
    font-weight: 100;
    padding-top: 25px;
}
@media(max-width:767px) {

}
@media (min-width: 1200px) {
    .container {
        width: 1285px;
    }
}