html,
body {
    height: 100%;
}
body {
    background: #5a67b8;
    font-family: "Myriad pro", sans-serif;
    color: #FFFFFF;
}

/* Intro */
.intro {
    margin-top: 130px;
}
.intro__text {
    text-align: center;
    font-size: 75px;
}
.intro__logo {
    background: url("images/logo.png") no-repeat;
    width: 349px;
    height: 348px;
    margin: 0 auto;
}

@media(max-width:767px) {

}
@media (min-width: 1200px) {
    .container {
        width: 1285px;
    }
}